.repositoryPicker {
  border: 2px solid rgb(61, 92, 128);
  border-radius: 5px;
  min-height: 186.875px;
  margin: 10px;
  padding: 5px;
  width: 450px;
}

.repositoryPicker > label {
  margin-right: 5px;
  font-weight: bold;
}
