.root {
  border-radius: 5px;
  border: 1px solid darkgray;
  margin-bottom: 5px;
  padding: 5px;
}

.video {
  --width: 296px;
  --height: calc(var(--width) * 9 / 16);
  height: var(--height);
  width: var(--width);
}
