.root {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.root:last-child {
  margin-bottom: 0;
}

.topSection {
  align-items: center;
  display: flex;
}

.topSection a {
  font-size: 18px;
}
